header{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    text-align: left;
    background-color: rgb(56, 236, 86);
    background-image: linear-gradient(120deg,rgb(221, 182, 67),rgb(244, 249, 244),rgb(13, 108, 19));
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    text-shadow: 2px 2px rgb(112, 251, 97);
}
h1{   
    text-align: center;
}
footer{
    border-style: dotted;
    font-size: 30px;
    text-align: center;
    background-color: rgb(233, 241, 70);
    background-image: linear-gradient(120deg,rgb(233, 184, 38),rgb(225, 229, 226),rgb(9, 163, 30));
    height: 60px;
    padding-top: 25px;
    border-radius: 20px;
    color: black;
    text-shadow: 3px 3px rgb(239, 160, 160);
}
.div{
    border-style: double dashed double dashed;
    color: maroon;
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(120deg,rgb(159, 42, 243),rgb(174, 153, 236),rgb(113, 72, 236),rgb(64, 213, 64),rgb(193, 193, 72),rgb(206, 158, 67),rgb(225, 72, 72));
}
.a{
    border-style: solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom:  10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:30px;
    font-family: Footlight MT Light;
}